#clock
  %h1
    Best time to drink
    %span.coffee Coffee

  %subtitle
    Based on
    = link_to "I<3Coffee.jp", 'http://en.ilovecoffee.jp/posts/view/110'

  %hr

  %p
    The time now is
    %span#timenow

  %p
    What time did you wake up?
    %input#wake{type: 'time'}

  %div#recommendations
    %hr
    %p
      Your first coffee cycle is
      %span#first_coffee_cycle
    %p
      Your second coffee cycle is
      %span#second_coffee_cycle

