#clock
  %div
    %h1 Best time to drink Coffee
    %h4 
      Based on 
      = link_to "I<3Coffe.jp", 'http://en.ilovecoffee.jp/posts/view/110'
    The time now is
    %span#timenow

  %div
    What time did you wake up?
    %input#wake{type: 'time'}

  %div#recommendations
    %hr
    %div
      Your first coffee cycle is
      %span#first_coffee_cycle
    %div
      Your second coffee cycle is
      %span#second_coffee_cycle

