#clock
  %div
    The time now is
    %span#timenow

  %div
    What time did you wake up?
    %input#wake{type: 'time'}

  %div#recommendations
    %div
      Your first coffee cycle is
      %span#first_coffee_cycle
    %div
      Your second coffee cycle is
      %span#second_coffee_cycle

